#my-services{
    width: 100%;
    padding: 40px 60px;
    background-image: url(../../images/my-booking-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#my-services h1{
    font-size: 50px;
    color: green;
    text-shadow:  0px 0px 5px #000;
    word-wrap: break-word;
    font-weight: bold;
}